<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "index" classNames="navbar-brand"}}
        Home
      {{/link-to}}
    </div>
    <ul class="nav navbar-nav navbar-left">
      {{#link-to "protected" tagName="li"}}
        <a>Protected Page</a>
      {{/link-to}}
    </ul>
    {{! display logout button when the session is authenticated, login button otherwise }}
    {{#if session.isAuthenticated}}
      {{#if sessionAccount.userInfo}}
        <p class="navbar-text pull-right">Signed in as {{sessionAccount.userInfo.firstName}}</p>
      {{/if}}
      <button {{action "logout"}} class="btn btn-danger navbar-btn navbar-right">Logout</button>
    {{else}}
      {{#link-to "login" class="btn btn-success navbar-btn navbar-right"}}
        Login
      {{/link-to}}
    {{/if}}
  </div>
</nav>